@font-face {
    font-family: 'Uber Move Light';
    font-style: normal;
    font-weight: normal;
    src: local('Uber Move Light'), url('~assets/fonts/UberMoveLight.woff') format('woff');
}

@font-face {
    font-family: 'Uber Move Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Uber Move Medium'), url('~assets/fonts/UberMoveMedium.woff') format('woff');
}

@font-face {
    font-family: 'Uber Move Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Uber Move Bold'), url('~assets/fonts/UberMoveBold.woff') format('woff');
}
