$color-pink: #ff7473;
$color-yellow: #ffc952;
$color-blue-1: #47b8e0;
$color-blue-2: #34314c;

$base-font-bold: 'Uber Move Bold', arial, helvetica, sans-serif;
$base-font-medium: 'Uber Move Medium', arial, helvetica, sans-serif;
$base-font-light: 'Uber Move Light', arial, helvetica, sans-serif;
